body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Landing {
  text-align: center;
}

.map-container {
  width: 100vh;
  height: 100vh;
}

.Landing-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img.bottomleft {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left; 
  width: 50%;
  height: auto;
  opacity: 0.3;
}

.box {
  position: relative;
}
/* img {
  width: 100%;
  height: auto;
  opacity: 0.6;
} */
.direction {
  position: absolute;
  bottom: 7px;
  left: 19px;
  font-size: 13px;
}

.etched-text {
  text-shadow: 0 2px white;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b8bec5;
}

.box-example {
  height: 571px;
  background: rgb(255, 255, 255) url('https://media.tenor.com/FcVg5W9zZJQAAAAC/error.gif') no-repeat;
  background-position: calc(100% - 0px) calc(100% - -7px);
}