body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Fredoka', sans-serif;
}

.container {
  border-radius: 10px;
  height: 250px;
  width: 450px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.container::after {
  content: "";
  background: linear-gradient(to top, rgba(0,0,0,0.5),transparent);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

/* img {
  border-radius: 7px;
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center 10%;
} */
.content {
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  z-index: 100;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  width: 20%;
  cursor: pointer;
  transition: all .3s;
}
button:hover {
  background: white;
  color: black;
}

/* ********OBJECTS CONTAINER******* */
.objects-box {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 1.2rem 0 0 1.2rem;
  gap: 10px;
}


.Landing {
  text-align: center;
}

.map-container {
  width: 100vh;
  height: 100vh;
}

.Landing-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img.bottomleft {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left; 
  width: 50%;
  height: auto;
  opacity: 0.3;
}

.box {
  position: relative;
}
/* img {
  width: 100%;
  height: auto;
  opacity: 0.6;
} */
.direction {
  position: absolute;
  bottom: 7px;
  left: 19px;
  font-size: 13px;
}

.etched-text {
  text-shadow: 0 2px rgb(239, 239, 239);
  font-size: 2rem;
  font-weight: bold;
  color: #b8bec5;
}

.box-example {
  height: 571px;
  background: rgb(255, 255, 255) url('https://media.tenor.com/FcVg5W9zZJQAAAAC/error.gif') no-repeat;
  background-position: calc(100% - 0px) calc(100% - -7px);
}

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

img.hike-img-visit {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left; 
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 20px;
}

img.loading {
  display: block;
  padding-top: 100;
  margin-left: "auto";
  margin-right: "auto";
  text-align: "center";
  width: "auto";
  height: "auto";
}


.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

.flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.card-my-visit {
  display: flex;
  min-height: 80vh;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  text-align: center;
  color: rgb(8, 7, 7);
}

img.parks-img {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 389px;
    height: 200px;
    transition: all 0.3s ease;
    border-radius: 1rem;
  }
/* .overlay {
  position: absolute; 
  left: 0;
  top: 0;
  color: black;
} */

.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  /* Set a specific height */
  min-height: 500px; 
  color: 'black';
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .scrollbar */

.scrollbar {
  height: 800px;
  width: fixed;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}