/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Google Sans, Roboto, arial, sans-serif',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Google Sans, Roboto, arial, sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Google Sans, Roboto, arial, sans-serif';
}

.container {
  border-radius: 10px;
  height: 250px;
  width: 450px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.container::after {
  content: "";
  background: linear-gradient(to top, rgba(0,0,0,0.5),transparent);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

/* img {
  border-radius: 7px;
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center 10%;
} */
.content {
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  z-index: 100;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  width: 20%;
  cursor: pointer;
  transition: all .3s;
}
button:hover {
  background: white;
  color: black;
}

/* ********OBJECTS CONTAINER******* */
.objects-box {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 1.2rem 0 0 1.2rem;
  gap: 10px;
}


.Landing {
  text-align: center;
}

.map-container {
  width: 100vh;
  height: 100vh;
}

.Landing-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img.bottomleft {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left; 
  width: 50%;
  height: auto;
  opacity: 0.3;
}

.box {
  position: relative;
}

.direction {
  position: absolute;
  bottom: 7px;
  left: 19px;
  font-size: 13px;
}

.etched-text {
  text-shadow: 0 2px rgb(239, 239, 239);
  font-size: 2rem;
  font-weight: bold;
  color: #b8bec5;
}

.box-example {
  height: 571px;
  background: rgb(255, 255, 255) url('https://media.tenor.com/FcVg5W9zZJQAAAAC/error.gif') no-repeat;
  background-position: calc(100% - 0px) calc(100% - -7px);
}

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

img.hike-img-visit {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left; 
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 20px;
}

img.loading {
  display: block;
  padding-top: 100;
  margin-left: "auto";
  margin-right: "auto";
  text-align: "center";
  width: "auto";
  height: "auto";
}


.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

.flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.card-my-visit {
  display: flex;
  /* min-height: 80vh; */
  /* width: 100%;
  height: 50px; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  text-align: center;
  color: rgb(8, 7, 7);
}

.ul-visitcard ul {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.card-visit {
  display: flex;
  /* min-height: 80vh; */
  /* width: 100%;
  height: 50px; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  text-align: center;
  color: rgb(8, 7, 7);
}

img.parks-img {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 1.4rem;
    width: 389px;
    height: 200px;
    /* transition: all 0.3s ease; */
    border-radius: 1rem;
  }
/* .overlay {
  position: absolute; 
  left: 0;
  top: 0;
  color: black;
} */

.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  /* Set a specific height */
  min-height: 500px; 
  color: 'black';
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .scrollbar */

.scrollbar {
  height: 800px;
  width: fixed;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.user-image {
  margin-top: 100;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -470;
  border-radius: 50%;
  width: 650;
  height: 625;
  background-position: center;
  background-size: auto 80px;
  object-fit: cover;
  display: block;
  z-index: 10;
  position: relative
}

.container {
  margin-top: 200;
  padding-top: 300;
  background-color: #8A9A5B;
  min-height: 500vh;
  min-width: 180vh;
  border-radius: 40px 40px 1px 1px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap
}

div.parallex-scrollbar {
  width: 181vh;
  height: 89vh;
  display: fixed;
  overflow-y: scroll;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

div.parallex-scrollbar {
  background-image: url("https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

div.trailheads-scrollbar {
  width: 190vh;
  height: 93vh;
  display: fixed;
  overflow-y: scroll;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

div.trailheads-scrollbar, div.all-trailheads-scrollbar  {
  --global-background: hsl(220, 25%, 10%);
}

div.all-trailheads-map-scrollbar {
  margin-top: 2rem;
  width: 71vh;
  height: 100vh;
  display: fixed;
  overflow-y: scroll;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  position: absolute;
	bottom: 0;
}

#all-trailheads-map-scrollbar {
  margin-top: 2rem;
  width: 65vh;
  height: 100vh;
  display: fixed;
  overflow-y: scroll;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  position: absolute;
	bottom: 0;
}

div.all-trailheads-map-scrollbar  {
  --global-background: hsl(220, 25%, 10%);
}

div.visit-list-scrollbar {
  width: 190vh;
  height: 93vh;
  display: fixed;
  overflow-y: scroll;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

div.visit-list-scrollbar {
  /* --global-background: hsl(220, 25%, 10%); */
  background-color: #131720;
}
div.visit-list-bgc, #myvisits-div {
  /* --global-background: hsl(220, 25%, 10%); */
  background-color: #131720;
}

#button-myvisits {
  color: white;
}

div.all-trailheads-scrollbar {
  width: 190vh;
  height: 102.2vh;
  display: fixed;
  overflow-y: scroll;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

div.all-trailheads-scrollbar {
  /* background-image: url("https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683__480.png"); */
  --global-background: hsl(220, 25%, 10%);
}

div.all-trailheads, .my-visit {
  background-color: #131720;
}

.background-color-edit {
  background-color: #131720;
} 

/*
    ================================
        Best Viewed In Full Page
    ================================
*/

/* defaults */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

body {
  --light: hsl(220, 50%, 90%);
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --border-color: hsla(0, 0%, 100%, .2);
  --global-background: hsl(220, 25%, 10%);
  --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
  --shadow-1: hsla(236, 50%, 50%, .3);
  --shadow-2: hsla(236, 50%, 50%, .4);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
  color: var(--light);
  background: var(--global-background);
}

a,
a:link {
  font-family: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

/* box */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 4rem 2rem;
}

.box:not(:first-child) {
  height: 45rem;
}

.box__title {
  font-size: 15rem;
  font-weight: normal;
  letter-spacing: .8rem;
  margin-bottom: 2.6rem;
}

.box__title::first-letter {
  color: var(--primary);
}

.box__p,
.box__info,
.box__note {
  font-size: 1.8rem;
}

.box__info {
  margin-top: 6rem;
}

.box__note {
  line-height: 2;
}


/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  /* --m-background is set as inline style */
  background: var(--m-background);
}

/* using :target */
/*
when users will click/enter button(link) browser will add a #id in a url and when that happens we'll show our users the modal that contains that id.
*/
.modal-container:target {
  display: flex;
}

.modal {
  width: 60rem;
  padding: 4rem 2rem;
  border-radius: .8rem;

  color: var(--light);
  background: var(--background);
  box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
  position: relative;

  overflow: hidden;
}

.modal__title {
  font-size: 3.2rem;
}

.modal__text {
  padding: 0 4rem;
  margin-top: 4rem;

  font-size: 1.6rem;
  line-height: 2;
}

.modal__btn {
  margin-top: 4rem;
  padding: 1rem 1.6rem;
  border: 1px solid var(--border-color);
  border-radius: 100rem;

  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: .2rem;

  transition: .2s;
  cursor: pointer;
}

.modal__btn:nth-of-type(1) {
  margin-right: 1rem;
}

.modal__btn:hover,
.modal__btn:focus {
  background: var(--focus);
  border-color: var(--focus);
  transform: translateY(-.2rem);
}


/* link-... */
.link-1 {
  font-size: 1.8rem;

  color: var(--light);
  background: var(--background);
  box-shadow: .4rem .4rem 2.4rem .2rem var(--shadow-1);
  border-radius: 100rem;
  padding: 1.4rem 3.2rem;

  transition: .2s;
}

.link-1:hover,
.link-1:focus {
  transform: translateY(-.2rem);
  box-shadow: 0 0 4.4rem .2rem var(--shadow-2);
}

.link-1:focus {
  box-shadow:
    0 0 4.4rem .2rem var(--shadow-2),
    0 0 0 .4rem var(--global-background),
    0 0 0 .5rem var(--focus);
}

.link-2 {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--border-color);
  border-radius: 100rem;

  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.link-2::before {
  content: '×';

  transform: translateY(-.1rem);
}

.link-2:hover,
.link-2:focus {
  background: var(--focus);
  border-color: var(--focus);
  transform: translateY(-.2rem);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 1000%, .6);
  font-size: 1.6rem;
}

.overlay {
  position: 'absolute';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.2);
  height: 100vh;
}

.main {
  position: relative;
  padding: spacing(3);
  padding-right: 0;
}

.title {
  font-size: 200;
  text-align: center;
  color: white;
  padding: spacing(3);
  padding-right: 40;
  padding-top: 250;
}

.subtitle  {
  font-size: 45;
  font-family: "Google Sans, Roboto, arial, sans-serif";
  color: white;
  padding-left: 60;
  letter-spacing: 3px;
  line-height: 1.5;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: 'absolute';
  /* top: 0; */
  bottom: 0;
  right: 0;
  /* left: 0; */
  background-color: rgba(0,0,0,.2);
  height: 100vh;
}

#googlemaps {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

#maps-form-header {
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 170vh;
  margin: 2px auto 0;
  padding: 10px;
  background: black;
  height: auto;
  opacity: .50; /* Set the opacity for a slightly transparent Google Form */
  color: white;
}

#trailhead {
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 17vh;
  margin-left: 10px auto 0;
  margin: 4px auto 0;
  padding: 10px;
  background: black;
  height: auto;
  opacity: .50; /* Set the opacity for a slightly transparent Google Form */
  color: white;
}

#trailhead-maps-form {
  align-items: right;
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 135px;
  margin: 4px auto 0;
  padding: 2px;
  padding-left: 10px;
  background: black;
  height: auto;
  opacity: .6; /* Set the opacity for a slightly transparent Google Form */
  color: white;
}

#maps-form {
  align-items: right;
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 135px;
  margin: 4px auto 0;
  margin-left: 10.5rem;
  padding: 2px;
  background: black;
  height: auto;
  opacity: .6; /* Set the opacity for a slightly transparent Google Form */
  color: white;
}

#terms-policy {
  padding: 19vh;
  border: 3px solid #ccd0c7;
}
